<div class="side-header">
  <div class="user">
    <a href="#">HOGE</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
    <a href="#">hogehogeroom</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
    <a href="#">hogehogeroom2</a>
    </div>
  </div>
</div>